<!DOCTYPE html>
<html lang="en" data-ng-app="CodeSearch">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		{% block meta %}{%endblock %}
		<title>{% block page_title %}{% endblock %}</title>
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body>

		<div class="container">
			<h1>{% block title %}{% endblock %}</h1>

			{% block body %}
			{% endblock %}
		</div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js"></script>

		<script>
		(function () {
		    'use strict';

			window.urls = JSON.parse({% autoescape false %}'{{ urls }}'{% endautoescape %});
		}());
		</script>

		{% block js %}{% endblock %}

	</body>
</html>
