<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		{% block meta %}{%endblock %}
		<title>{% block page_title %}{% endblock %}</title>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
		{% block css %}{% endblock %}
	</head>

	<body>

		<div class="container">
			<h1>{% block title %}{% endblock %}</h1>

			{% block body %}
			{% endblock %}
		</div>

		{% block js %}{% endblock %}

	</body>
</html>
